
*{
  box-sizing: border-box;
 }

 body{
   height: 100%;
 }
 
 header, footer{
  background: #eae7dc;
  height: 90px;
  width: 100%;
 }
 
 /* Header */
 
 .header, .footer{
  max-width: 960px;
  margin: 0 auto;
 }

 header img {
  float: left;
 }
 header nav{
  line-height: 80px;
 }
 
 header ul li{
  display: inline-block;
  padding: 0px 35px 0px 20px;
  font-family: 'Caveat Brush', cursive;
  font-size: 20px;
 }

 #logo{
   height: 70px;
   margin-top: 10px;
   border-radius: 35px;
   /* color: #1CA3CE; */
 }

 #logo:hover{
   transform: scale(1.1);
 }
 header li h1{
   font-family: 'Permanent Marker', cursive;
   color: black;
   font-size: 40px;
   margin-right: 150px;
 }

 li a{
  color: #1CA3CE;
  font-size: 27px;
 }

 a:hover {
  color: #3cb0fd;
 }

 /* Main */
 main{
  min-height: calc(100% - 90px);
  margin: 0 auto;
  padding: .1px;
  background-image: linear-gradient(#757780, #fff);
}

main h2{
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 30px;
  color: white;
  margin-top: 2%;
}

#form{
  width: 35%;
  height: 30%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #eae7dc;
  border-radius: 30px;
  box-shadow:
                1px 1px #757780,
                2px 2px #757780,
                3px 3px #757780;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
  border: 1px solid #757780;
 }

 #usernameInput{
  width: 50%;
  height: 30px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  border: 2px solid #305A72;
  margin: 25px 25% 10px 25%;
 }

 #btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 15px;
  font-family:  'Caveat Brush', cursive;
  color: #fff;
  font-size: 20px;
  background: #1CA3CE;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 0px 39% 15px 39%;
}

#btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}


/* Footer */
footer{
  margin-bottom: -90px;
}

.footer{
  text-align: center;
  /* margin-bottom: -90px; */
  
}

#footerLogo{
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
}

#companyLogos{
  display: inline-flex;
  position: relative;
  bottom: 0px;
  margin-left: 5%;
}

#companyLogo2{
  display: inline-flex;
  position: relative;
  bottom: 0px;
  margin-left: 5%;
}

#company{
  width: 50%;
}
#userwelcome {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
  color:navy;
  }

#partners{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-family:  'Caveat Brush', cursive;
  font-size: 30px;
  text-decoration: underline;
}
  
.hide-me {
  display: none;
}